<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md d-flex flex-column align-items-center">
        <a class="" href="/">
          <img
            src="/images/finka_logo_65.png"
            class="mb-2"
            alt="Finka Logo"
            width="40px"
          />
        </a>
        <small class="mb-3 text-muted">&copy; 2021, Finka LLC</small>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="/login">Login</a>
          </li>
          <li>
            <a class="text-muted" href="/register">Register</a>
          </li>
          <li>
            <a class="text-muted" href="/terms">Terms of service</a>
          </li>
          <li>
            <a class="text-muted" href="/privacy">Privacy Policy</a>
          </li>
          <li>
            <a class="text-muted" href="/refund">Refund Policy</a>
          </li>
          <li>
            <a class="text-muted" href="/cookie-policy">Cookie Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="/about">About</a>
          </li>
          <li>
            <a class="text-muted" href="/recipients">Scholarships</a>
          </li>
          <li>
            <a class="text-muted" href="/contact">Help Center</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md social">
        <a href="mailto:Contact@Finka.world"><i class="fas fa-envelope"></i></a>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/finka.world/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href=""><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>
</div>
