<% layout('layouts/boilerplate') -%>
<h1><%= title %></h1>
<div class="media">
  <div class="media-body mr-5">
    <h2>Company summary</h2>
    <p>
      This company is a platform for the public by healthcare advocates.
      Lectures and credible information given at a small price that will also be
      given towards education for those in related fields.
    </p>
    <h2>Mission statement</h2>
    <p>
      Our mission is to educate the public with credible sources of information
      based on principles and research by licensed or certified professionals in
      good standing with their union. Also, to aid students and professionals
      that struggle with financing graduate programs they attend. Ultimately the
      goal would be another way to strengthen interprofessional collaboration.
    </p>
  </div>
  <img
    class="ml-3"
    src="images/pic-1.jpg"
    width="500"
    alt="Generic placeholder image"
  />
</div>

<div class="media">
  <div class="media-body mr-5">
    <h2>Company history</h2>
    <p>
      The idea of this company originated initially with considering of building
      a sports performance phone app. With countless brainstorming ideas to
      build this app a section for education and highlighting
      health-professionals in the field was considered for customers to see and
      access specific information. The content and thought of this section
      became too large. Healthcare providers deserve their own platform was the
      initial thought. Next, I considered why would professionals come onto this
      platform when they can promote themselves. The answer was clear…to come
      together to help others pursuing to be like us and make an impact similar
      fields of work.
    </p>
  </div>
  <img class="ml-3" src="images/history.jpg" width="500" alt="Logo history" />
</div>
