<% layout('layouts/boilerplate') -%>
<h1><%= title %></h1>
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        <i class="fas fa-envelope"></i
        ><a href="mailto:Contact@Finka.world"> Contact@Finka.world</a>
      </p>
    </li>
    <li class="list-group-item">
      <p><i class="fab fa-facebook"></i> @finka-facebook</p>
    </li>
    <li class="list-group-item">
      <p><i class="fab fa-instagram"></i> @finka.world/</p>
    </li>
    <li class="list-group-item">
      <p><i class="fab fa-twitter"></i> @finka-twitter</p>
    </li>
  </ul>
</div>
