<% layout('layouts/boilerplate') -%>
<h1><%= title %></h1>
<p>
  Since the Website offers non-tangible, irrevocable goods we do not provide
  refunds after the product is purchased, which you acknowledge prior to
  purchasing any product on the Website. Please make sure that you've carefully
  read service description before making a purchase.
</p>

<h2>Contact Us</h2>
<p>
  If you would like to contact us concerning any matter relating to this Refund
  Policy, you may send an email to Contact@finka.world
</p>

<p>This document was last updated on December 27, 2020.</p>
